.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 1440px;
  height: 900px;
  margin: 0 auto;
  background-color: #eaf1fe;
  border-radius: 40px;
  font-family: "League Spartan", sans-serif;
}

.left_side {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_section {
  position: absolute;
  width: 1121px;
  height: 794px;
  left: 254px;
  top: 53px;
  border-radius: 40px;
}

.main_section {
  max-width: 1120px;
  max-height: 800px;
  background: #ffffff;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 800px 1fr;
  grid-template-columns: 800px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  margin: 60px 35px 0;
}
.menu__list {
  text-decoration: none;
}
.menu__link {
  background: transparent;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 184px;
  height: 44px;
  margin-bottom: 40px;
  cursor: pointer;
}
.menu__link:last-child {
  margin-bottom: 0;
}
.menu__link .menu__link_text {
  color: #909090;
  margin-left: 20px;
}
.menu__link-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 44px;
  width: 44px;
  background: #fff;
  border-radius: 15px;
}
.menu__link-active {
  background: #ff5454;
}
.menu__link-active .menu__link_text {
  color: #fff;
}
.menu__link-active .menu__link-icon {
  background: #df4545;
  stroke: #fff;
}

.product_img_container {
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 200px;
}

.product_img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.user_profile {
  width: 80px;
  height: 80px;
  border-radius: 15px;
  background: #fff;
  margin: 100px 0 36px 100px;
}

.user_name {
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  margin-top: 13px;
  text-align: center;
}

.user_photo_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8px;
}

.user_photo {
  border-radius: 11px;
  width: 64px;
}

.delivery_item {
  position: relative;
  width: 184px;
  height: 162px;
  margin: 115px 35px 0;
  background-color: #fff;
  border-radius: 25px;
}

.delivery_man {
  position: absolute;
  top: -100px;
  z-index: 99;
}

.faster_delivery {
  margin: 88px 0 12px 26px;
  font-weight: 800;
  font-size: 24px;
  line-height: 20px;
}

.know_more_delivery {
  margin-left: 26px;
  font-weight: 700;
  font-size: 14px;
  line-height: 11px;
}

.delivery_arrow {
  position: absolute;
  width: 17px;
  height: 8px;
  bottom: 13px;
  right: 35px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.header_title {
  position: relative;
  margin-top: 50px;
  margin-left: 60px;
  width: 320px;
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
}
.header_order_items {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 50px;
  margin-right: 60px;
  cursor: pointer;
}

.smiling_face {
  position: absolute;
  right: 70px;
}

.search {
  position: relative;
  margin-right: 8px;
}
.search_input {
  width: 50px;
  height: 50px;
  background: #f3f3f3;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.search_input:focus {
  width: 250px;
  background: #666666;
  color: #fff;
}
.search_icon {
  position: absolute;
  top: 0;
  left: 0;
}

.basket_shop {
  margin: 0 58px 0 24px;
  cursor: pointer;
}

.basket_sign {
  position: absolute;
  right: 115px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: #ff5454;
}

.logout_button {
  position: absolute;
  top: 50px;
  right: 50px;
  border: none;
  background: none;
  cursor: pointer;
}

.food_select_menu {
  margin: 30px 70px 35px 60px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.food_select_menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.food_select_menu__item {
  width: 100px;
  height: 160px;
  border-radius: 60px;
  margin-right: 15px;
  background: #f3f3f3;
  cursor: pointer;
}
.food_select_menu__item:last-child {
  margin-right: 0;
}
.food_select_menu__item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65px;
  height: 88px;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.food_select_menu__item-title {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 65px;
  color: #585858;
}
.food_select_menu__item-active {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 46px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 46px rgba(0, 0, 0, 0.3);
}
.food_select_menu__item-active .food_select_menu__item-title {
  font-size: 18px;
  color: #000000;
}

.discount_item {
  position: relative;
  width: 259px;
  height: 158px;
  background: #ab97f3;
  border-radius: 30px;
}
.discount_item .discount_value {
  margin-top: 77px;
  margin-left: 22px;
  font-weight: 600;
  font-size: 24px;
  line-height: 27px;
  color: #ffffff;
}
.discount_item .discount_name {
  margin-left: 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.discount_item .big_burger {
  position: absolute;
  right: -10px;
  top: -75px;
}
.discount_item .bitten_apple {
  position: absolute;
  left: 20px;
  top: -40px;
}
.discount_item .cheese_small {
  position: absolute;
  left: 231px;
  top: 50px;
}
.discount_item .orange_small {
  position: absolute;
  left: 100px;
  top: 10px;
}

.dish_card {
  position: relative;
  width: 206px;
  height: 248px;
}
.dish_card-active .dish_description {
  background-color: #f2eeee;
}

.dish_img {
  position: absolute;
  left: 33px;
  width: 140px;
  height: 125px;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 10;
}

.dish_description {
  position: absolute;
  bottom: 0;
  width: 206px;
  height: 171px;
  border: 1.5px solid #f2eeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
}

.dish_title {
  font-weight: 800;
  font-size: 14px;
  line-height: 13px;
  margin: 70px 28px 10px;
}

.dish_composition {
  margin-left: 28px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 10px;
  line-height: 18px;
  color: #898686;
}

.dish_price {
  margin-left: 28px;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
}

.dish_add_button {
  position: absolute;
  right: 5px;
  bottom: 7px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.fire,
.like,
.star {
  position: absolute;
  top: 15px;
  right: 0;
}

.dish_items {
  position: relative;
}
.dish_items-title {
  margin-left: 60px;
  margin-right: 30px;
  font-weight: 800;
  font-size: 24px;
}
.dish_items-filter-icon {
  position: absolute;
  top: 0;
  left: 180px;
}
.dish_items ::-webkit-scrollbar {
  width: 0;
}

.dish_list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  margin: 30px 55px 25px 60px;
  height: 290px;
  overflow: auto;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.articles_title {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 20px;
}

.arrow_right {
  position: absolute;
  width: 50px;
  top: -16px;
  right: 60px;
  cursor: pointer;
}

.article_item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 1fr;
  grid-template-columns: 60px 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 20px;
}
.article_item_img_wrapper {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 15px;
}
.article_item .yellow {
  background-color: #fff0a5;
}
.article_item .blue {
  background-color: #d6f5ff;
}
.article_item .pink {
  background-color: #ffddf0;
}
.article_item .green {
  background-color: #c1fff4;
}
.article_item .article_item_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
}

.article__title {
  width: 170px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin-left: 11px;
}

.article_rating_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 11px;
}

.user_avatar_1 {
  position: absolute;
}

.user_avatar_2 {
  position: absolute;
  left: 17px;
}

.article_rating_bar {
  position: relative;
  z-index: 3;
  left: 35px;
  width: 55px;
  height: 23px;
  background: #fff8d5;
  border: 1px solid #ffffff;
  border-radius: 15px;
}

.kisspng_humb {
  position: absolute;
  top: 4px;
  left: 8px;
}

.likes_amount {
  margin-top: 6px;
  margin-left: 26px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

.basket {
  position: absolute;
  top: 30px;
  right: 2px;
  width: 314px;
  height: 744px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 46px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 46px rgba(0, 0, 0, 0.3);
  z-index: 5;
}
.basket_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin: 48px 0 22px 32px;
}
.basket_title {
  font-weight: 800;
  font-size: 30px;
  line-height: 34px;
  margin-right: 115px;
}
.basket_stopwatch {
  position: absolute;
  top: 133px;
  left: 70px;
}
.basket_cooking_alert {
  position: absolute;
  top: 290px;
  left: 70px;
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}
.basket_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46px;
  height: 46px;
  background-color: #f5f6f7;
  border-radius: 15px;
  cursor: pointer;
}
.basket_button {
  margin: 490px 0 0 32px;
  width: 252px;
  height: 50px;
  background: #2d9cdb;
  border-radius: 15px;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  border: none;
}
.basket_closed {
  display: none;
}

.chosen_dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.chosen_dish_pic_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 47px;
  height: 47px;
  background-color: #fff0a5;
  border-radius: 15px;
  margin-left: 32px;
  margin-right: 9px;
}
.chosen_dish_pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 70%;
}
.chosen_dish_description {
  width: 120px;
  margin-right: 30px;
}
.chosen_dish_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.chosen_dish_composition {
  font-weight: 600;
  font-size: 9px;
  line-height: 10px;
}
.chosen_dish_amount {
  font-weight: 700;
  font-size: 10px;
  line-height: 18px;
  margin-right: 17px;
}
.chosen_dish_price {
  font-weight: 700;
  font-size: 10px;
  line-height: 18px;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 388px;
  height: 50px;
  font: inherit;
  font-size: 13px;
  font-weight: 700;
  color: #cc9696;
  border-radius: 15px;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f3f3f3;
  padding-left: 13px;
  margin-bottom: 25px;
}
.input::-webkit-input-placeholder {
  font-weight: 700;
  color: #cc9696;
}
.input::-moz-placeholder {
  font-weight: 700;
  color: #cc9696;
}
.input:-ms-input-placeholder {
  font-weight: 700;
  color: #cc9696;
}
.input::-ms-input-placeholder {
  font-weight: 700;
  color: #cc9696;
}
.input::placeholder {
  font-weight: 700;
  color: #cc9696;
}

.label {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
}

.form_page {
  position: relative;
  max-width: 1440px;
  height: 900px;
  margin: 0 auto;
  background-color: #eaf1fe;
  font-family: "League Spartan", sans-serif;
  border-radius: 40px;
}

.form_title {
  position: relative;
  padding-top: 100px;
  margin: 0 auto 18px;
  text-align: center;
  width: 320px;
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
}

.form_smiling_face {
  position: absolute;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 578px;
  background-color: #fff;
  padding: 77px 95px 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 35px;
  margin: 0 auto;
}

.form_button {
  width: 163px;
  height: 50px;
  margin-top: 12px;
  font-weight: 500;
  font-size: 16px;
  background-color: #2D9CDB;
  color: #fff;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.form_button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  cursor: pointer;
}

.having_account {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: underline;
  margin-top: 10px;
}

.grapes {
  position: absolute;
  top: -60px;
  left: -70px;
}

.leaf {
  position: absolute;
  top: 0;
  right: 0;
}

.bitten_apple {
  position: absolute;
  bottom: 60px;
  left: 80px;
}

.orange {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

* {
  font-family: "League Spartan";
}