.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.articles_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.articles_item_img_wrapper {
  width: 60px;
  height: 60px;
  background-color: #000;
}