.articles {
  display: flex;
  flex-direction: column;
  position: relative;

  &_title {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.arrow_right {
  position: absolute;
  width: 50px;
  top: -16px;
  right: 60px;
  cursor: pointer;
}

.article_item {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: start;
  margin-bottom: 20px;

  &_img_wrapper {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 15px;
  }

  .yellow {
    background-color: #fff0a5;
  }

  .blue {
    background-color: #d6f5ff;
  }

  .pink {
    background-color: #ffddf0;
  }

  .green {
    background-color: #c1fff4;
  }

  .article_item_img {
    display: flex;
    margin: 10px auto;
  }
}

.article__title {
  width: 170px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin-left: 11px;
}

.article_rating_item {
  position: relative;
  display: flex;
  margin-left: 11px;
}

.user_avatar_1 {
  position: absolute;
}
.user_avatar_2 {
  position: absolute;
  left: 17px;
}

.article_rating_bar {
  position: relative;
  z-index: 3;
  left: 35px;
  width: 55px;
  height: 23px;
  background: #fff8d5;
  border: 1px solid #ffffff;
  border-radius: 15px;
}

.kisspng_humb {
  position: absolute;
  top: 4px;
  left: 8px;
}

.likes_amount {
  margin-top: 6px;
  margin-left: 26px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

@media screen and (max-width: 1440px) {
  .article_item {
    &_img_wrapper {
      width: 55px;
      height: 55px;
      border-radius: 12px;
    }
  }

  .article__title {
    width: 155px;
    font-size: 12px;
    line-height: 15px;
    margin-left: 11px;
  }
}
