.container {
  display: flex;
  position: relative;
  max-width: 1440px;
  height: 900px;
  margin: 0 auto;
  background-color: #eaf1fe;
  border-radius: 40px;
  font-family: "League Spartan", sans-serif;
}

.left_side {
  flex-direction: column;
  display: flex;
}

.main_section {
  position: absolute;
  max-width: 1121px;
  height: 794px;
  left: 254px;
  top: 53px;
  border-radius: 40px;
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1200px;
    height: 820px;
    border-radius: 40px;
  }

  .main_section {
    max-width: 1000px;
    height: 740px;
    left: 210px;
    top: 40px;
  }
}
