.dish_items {
  position: relative;

  &-title {
    margin-left: 60px;
    font-weight: 800;
    font-size: 24px;
  }

  &-filter-icon {
    position: absolute;
    top: 0;
    left: 180px;
  }

  ::-webkit-scrollbar {
    width: 0;
  }
}

.dish_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  margin: 30px 55px 25px 60px;
  height: 290px;
  overflow: auto;
}

@media screen and (max-width: 1440px) {
  .dish_list {
    margin: 25px 20px 25px 20px;
    height: 275px;
  }
}

@media screen and (max-width: 1200px) {
  .dish_items {
    &-title {
      margin-left: 20px;
    }

    &-filter-icon {
      left: 120px;
    }

    .dish_list {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      height: 280px;
    }
  }
}

@media screen and (max-width: 1090px) {
  .dish_items {
    &-title {
      margin-left: 30px;
      font-size: 18px;
    }

    &-filter-icon {
      left: 100px;
      transform: scale(0.6);
    }

    .dish_list {
      margin: 10px 30px 0;
      height: 261px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 1090px) {
  .dish_list {
    width: 500px;
    height: 390px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 550px) {
  .dish_items {
    &-title {
      margin-left: 40px;
      margin-bottom: 20px;
      font-size: 18px;
    }

    &-filter-icon {
      left: 110px;
    }
  }
  .dish_list {
    width: 395px;
    height: 390px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
