.dish_items {
  position: relative;
  
  &-title {
    margin-left: 60px;
    margin-right: 30px;
    font-weight: 800;
    font-size: 24px;
  }

  &-filter-icon {
    position: absolute;
    top: 0;
    left: 180px;
  }

  ::-webkit-scrollbar {
    width: 0;
  }
}

.dish_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  margin: 30px 55px 25px 60px;
  height: 290px;
  overflow: auto;  
}
