.form_page {
  position: relative;
  max-width: 1440px;
  height: 900px;
  margin: 0 auto;
  background-color: #eaf1fe;
  font-family: "League Spartan", sans-serif;
  border-radius: 40px;
}

.form_title {
  position: relative;
  padding-top: 100px;
  margin: 0 auto 18px;
  text-align: center;
  width: 320px;
  font-weight: 800;
  font-size: 48px;
  line-height: 65px;
}

.form_smiling_face {
  position: absolute;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 578px;
  background-color: #fff;
  padding: 77px 95px 55px;
  box-sizing: border-box;
  border-radius: 35px;
  margin: 0 auto;
}

.form_button {
  width: 163px;
  height: 50px;
  margin-top: 12px;
  font-weight: 500;
  font-size: 16px;
  background-color: #2D9CDB;
  color: #fff;
  border: none;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  &:hover {
    box-shadow: none;
    transform: translate(2px, 2px);
    cursor: pointer;
  }
}

.having_account {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: underline;
  margin-top: 10px;
}

.grapes {
  position: absolute;
  top: -60px;
  left: -70px;
}

.leaf {
  position: absolute;
  top: 0;
  right: 0;
}

.bitten_apple {
  position: absolute;
  bottom: 60px;
  left: 80px;
}

.orange {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
