.form_page {
  position: relative;
  max-width: 1440px;
  height: 900px;
  margin: 0 auto;
  background-color: #eaf1fe;
  font-family: "League Spartan", sans-serif;
  border-radius: 40px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 578px;
  background-color: #fff;
  padding: 77px 95px 55px;
  box-sizing: border-box;
  border-radius: 35px;
  margin: 0 auto;

  &_title {
    position: relative;
    padding-top: 100px;
    margin: 0 auto 18px;
    text-align: center;
    width: 320px;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
  }

  &_smiling_face {
    position: absolute;
  }

  &_button {
    width: 163px;
    height: 50px;
    margin-top: 12px;
    font-weight: 500;
    font-size: 16px;
    background-color: #2d9cdb;
    color: #fff;
    border: none;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    &:hover {
      box-shadow: none;
      transform: translate(2px, 2px);
      cursor: pointer;
    }
  }
}

.having_account {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: underline;
  margin-top: 10px;
}

.grapes {
  position: absolute;
  top: -60px;
  left: -70px;
}

.leaf {
  position: absolute;
  top: 0;
  right: 0;
}

.bitten_apple {
  position: absolute;
  bottom: 60px;
  left: 80px;
}

.orange {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

@media screen and (max-width: 1440px) {
  .form_page {
    max-width: 1200px;
    height: 750px;
  }

  .form {
    max-width: 550px;
    padding: 70px 90px 50px;
    border-radius: 33px;

    &_title {
      padding-top: 80px;
      font-size: 46px;
      line-height: 60px;
    }

    &_button {
      width: 158px;
      height: 47px;
      border-radius: 13px;
    }
  }

  .grapes {
    top: -72px;
    left: -87px;
    transform: scale(0.9);
  }

  .leaf {
    top: -7px;
    right: -11px;
    transform: scale(0.9);
  }

  .bitten_apple {
    bottom: 32px;
    left: 45px;
    transform: scale(0.9);
  }

  .orange {
    bottom: -8px;
    right: -12px;
    transform: scale(0.9);
  }
}

@media screen and (max-width: 1200px) {
  .form_page {
    max-width: 1100px;
    height: 700px;
  }

  .form {
    max-width: 530px;
    padding: 70px 75px 45px;
    border-radius: 33px;

    &_title {
      padding-top: 55px;
      font-size: 44px;
      line-height: 50px;
    }

    &_smiling_face {
      bottom: -7px;
      right: 5px;
      transform: scale(0.8);
    }

    &_button {
      width: 158px;
      height: 42px;
      border-radius: 11px;
    }
  }

  .grapes {
    top: -72px;
    left: -87px;
    transform: scale(0.9);
  }

  .leaf {
    top: -7px;
    right: -11px;
    transform: scale(0.9);
  }

  .bitten_apple {
    bottom: 32px;
    left: 45px;
    transform: scale(0.9);
  }

  .orange {
    bottom: -8px;
    right: -12px;
    transform: scale(0.9);
  }
}

@media screen and (max-width: 1090px) {
  .form_page {
    max-width: 750px;
    height: 600px;
    border-radius: 28px;
  }

  .form {
    max-width: 481px;
    padding: 41px 30px 26px;
    border-radius: 26px;

    &_title {
      max-width: 280px;
      padding-top: 45px;
      font-size: 40px;
      line-height: 50px;
    }

    &_smiling_face {
      transform: scale(0.7);
    }

    &_button {
      width: 154px;
      height: 40px;
      border-radius: 10px;
      font-size: 15px;
    }
  }

  .having_account {
    font-size: 12px;
  }

  .grapes {
    top: -86px;
    left: -97px;
    transform: scale(0.8);
  }

  .leaf {
    top: -17px;
    right: -25px;
    transform: scale(0.8);
  }

  .bitten_apple {
    bottom: 18px;
    left: 8px;
    transform: scale(0.8);
  }

  .orange {
    bottom: -20px;
    right: -40px;
    transform: scale(0.8);
  }
}

@media screen and (max-width: 800px) {
  .form_page {
    max-width: 500px;
    height: 430px;
    border-radius: 24px;
  }

  .form {
    max-width: 360px;
    padding: 22px 24px 13px;
    border-radius: 17px;

    &_title {
      max-width: 235px;
      padding-top: 15px;
      font-size: 32px;
      line-height: 35px;
      margin: 0 auto 5px;
    }

    &_smiling_face {
      bottom: -12px;
      transform: scale(0.6);
    }

    &_button {
      width: 138px;
      height: 39px;
      border-radius: 8px;
      font-size: 13px;
    }
  }

  .having_account {
    font-size: 12px;
    margin-top: 12px;
  }

  .grapes {
    top: -114px;
    left: -116px;
    transform: scale(0.5);
  }

  .leaf {
    top: -43px;
    right: -54px;
    transform: scale(0.5);
  }

  .bitten_apple {
    bottom: -22px;
    left: -44px;
    transform: scale(0.5);
  }

  .orange {
    bottom: -61px;
    right: -90px;
    transform: scale(0.5);
  }
}

@media screen and (max-width: 550px) {
  .form_page {
    max-width: 405px;
    height: 430px;
    border-radius: 20px;
  }

  .form {
    border-radius: 17px;

    &_title {
      max-width: 235px;
      padding-top: 15px;
      font-size: 32px;
      line-height: 35px;
    }
  }

  .leaf {
    top: -50px;
    right: -67px;
    transform: scale(0.4);
  }
}
