.header {
  display: flex;
  justify-content: space-between;
  align-items: start;

  &_title {
    position: relative;
    margin-top: 50px;
    margin-left: 60px;
    width: 320px;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
  }

  &_order_items {
    width: 500px;
    display: flex;
    justify-content: end;
    margin-top: 50px;
    margin-right: 60px;
    cursor: pointer;
  }
}

.smiling_face {
  position: absolute;
  right: 70px;
}

.search {
  position: relative;
  margin-right: 8px;

  &_input {
    width: 50px;
    height: 50px;
    background: #f3f3f3;
    border-radius: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s ease;

    &:focus {
      width: 250px;
      background: #666666;
      color: #fff;
    }
  }
  &_icon {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.basket_shop {
  margin: 0 57px 0 24px;
  cursor: pointer;
}

.basket_sign {
  position: absolute;
  right: 115px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: #ff5454;
}

.basket_sign_none {
  display: none;
}

.logout_button {
  position: absolute;
  top: 50px;
  right: 50px;
  border: none;
  background: none;
  cursor: pointer;
}

.header_checkbox {
  display: none;
}

.menu-all {
  display: none;
}

@media screen and (max-width: 1440px) {
  .header {
    &_title {
      margin-top: 35px;
      margin-left: 40px;
      line-height: 55px;
    }

    &_order_items {
      width: 450px;
      margin-top: 35px;
    }
  }

  .basket_shop {
    margin: 0 34px 0 24px;
  }

  .basket_sign {
    right: 90px;
  }

  .logout_button {
    top: 35px;
    right: 22px;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    &_title {
      margin-top: 25px;
      margin-left: 30px;
      font-size: 46px;
      line-height: 50px;
    }

    &_order_items {
      margin-top: 25px;
      margin-right: 75px;
    }
  }

  .smiling_face {
    bottom: -8px;
    right: 80px;
    transform: scale(0.8);
  }

  .search {
    position: relative;
    margin-right: 5px;
    transform: scale(0.9);

    &_input {
      width: 40px;
      height: 40px;
    }
  }

  .basket_shop {
    margin: 0 15px 0 24px;
    width: 45px;
  }

  .basket_sign {
    right: 87px;
  }

  .logout_button {
    top: 20px;
    right: 20px;
    transform: scale(0.9);
  }
}

@media screen and (max-width: 1090px) {
  .header {
    &_title {
      margin-top: 22px;
      margin-left: 25px;
      width: 400px;
      font-size: 40px;
      line-height: 45px;
    }

    &_order_items {
      margin-top: 22px;
      margin-right: 60px;
    }
  }

  .smiling_face {
    bottom: -8px;
    right: 6px;
    transform: scale(0.7);
  }

  .search {
    transform: scale(0.8);

    &_input {
      width: 35px;
      height: 35px;
    }

    &_icon {
      top: -8px;
      left: -10px;
    }
  }

  .basket_shop {
    margin: -3px 30px 0 24px;
    width: 38px;
  }

  .basket_sign {
    top: 18px;
    right: 88px;
    transform: scale(0.8);
  }

  .logout_button {
    top: 12px;
    right: 20px;
    transform: scale(0.8);
  }
}

@media screen and (max-width: 800px) {
  .header {
    position: relative;
    &_title {
      margin-top: 12px;
      margin-left: 17px;
      width: 320px;
      font-size: 37px;
      line-height: 33px;
    }

    &_order_items {
      position: absolute;
      left: -2px;
    }
  }

  .smiling_face {
    bottom: -18px;
    right: 120px;
    transform: scale(0.6);
  }

  .search {
    transform: scale(0.7);
    &_input {
      width: 35px;
      height: 35px;
    }

    &_icon {
      top: -14px;
      left: -10px;
    }
  }

  .basket_shop {
    margin: -11px 11px 0 0;
    width: 33px;
  }

  .basket_sign {
    top: -6px;
    right: 10px;
    transform: scale(0.7);
  }

  .logout_button {
    top: 8px;
    right: 206px;
    transform: scale(0.7);
  }

  .menu-all {
    position: fixed;
    display: block;
  }

  .header_checkbox {
    display: block;
    position: fixed;
    width: 30px;
    height: 30px;
    margin: 0;
    top: 4%;
    right: 15%;
    opacity: 0;
    z-index: 7;
    cursor: pointer;
  }

  .check-wrapper {
    z-index: 6;
    position: fixed;
    top: 4%;
    right: 15%;
  }

  .check {
    width: 30px;
    height: 3px;
    background-color: #000000;
    transition: 200ms;
  }

  .check:not(:last-of-type) {
    margin-bottom: 4px;
  }

  .header_checkbox:checked ~ .check-wrapper > .check:first-of-type {
    transform: rotate(45deg);
    margin-right: 0px;
    margin-top: 7px;
  }

  .header_checkbox:checked ~ .check-wrapper > .check:nth-of-type(2) {
    opacity: 0;
  }

  .header_checkbox:checked ~ .check-wrapper > .check:last-of-type {
    transform: rotate(-45deg);
    margin-right: 2px;
    margin-top: -13px;
  }

  .header_checkbox:checked ~ .menu-all {
    z-index: 5;
    position: absolute;
    background: rgba(193, 255, 244, 0.85);
    box-shadow: 6px 5px 12px rgb(101, 156, 207);
    width: 208px;
    height: 348px;
    top: 5%;
    right: 0%;
    border-radius: 10px;
  }

  .header_ul {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .header_li {
    margin: 0 auto 25px;
  }
}

.header_link {
  line-height: 33px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 200ms all;

  &_hidden {
    display: none;
  }

  &:hover {
    background: #ff5454;
    color: rgb(255, 255, 255);
    border-radius: 7px;
    padding: 6px 10px;
    cursor: pointer;
  }
}

@media screen and (max-width: 550px) {
  .header {
    &_order_items {
      left: -128px;
      top: 0px;
    }

    .search {
      display: none;
    }
  }

  .basket_shop {
    position: absolute;
    top: 178px;
    right: -79px;
    z-index: 1;
  }

  .basket_sign {
    top: 164px;
    right: -71px;
    z-index: 2;
  }

  .logout_button {
    top: 6px;
    right: 78px;
  }

  .header_checkbox {
    top: 3%;
    right: 16%;
    opacity: 0;
  }

  .check-wrapper {
    z-index: 6;
    top: 3%;
    right: 16%;
  }

}
