.input_wrapper {
  position: relative;
  display: block;
  margin-bottom: 25px;
}

.input {
  display: flex;
  flex-direction: column;
  width: 388px;
  height: 50px;
  font: inherit;
  font-size: 13px;
  font-weight: 700;
  color: #241c1c;
  border-radius: 15px;
  border: none;
  box-sizing: border-box;
  background: #f3f3f3;
  padding-left: 13px;

  &::placeholder {
    font-weight: 700;
    color: #cc9696;
  }

  &_error {
    position: absolute;
    top: 72px;
    left: 10px;
    font-size: 12px;
    font-weight: 600;
    color: red;
  }
}

.label {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  margin-left: 10px;
}

@media screen and (max-width: 1200px) {
  .input_wrapper {
    margin-bottom: 25px;
  }

  .input {
    width: 360px;
    font-size: 12px;
    height: 44px;
    border-radius: 13px;

    &_error {
      top: 68px;
      left: 8px;
    }
  }
}

@media screen and (max-width: 1090px) {
  .input_wrapper {
    margin-bottom: 25px;
  }

  .input {
    width: 343px;
    height: 42px;
    border-radius: 8px;

    &_error {
      top: 64px;
      left: 6px;
      font-weight: 500;
    }
  }

  .label {
    font-weight: 500;
    margin-left: 7px;
  }
}

@media screen and (max-width: 800px) {
  .input_wrapper {
    margin-bottom: 18px;
  }

  .input {
    width: 280px;
    height: 37px;
    padding-left: 10px;

    &_error {
      top: 55px;
      left: 4px;
      font-size: 11px;
      font-weight: 400;
    }
  }

  .label {
    font-size: 12px;
    line-height: 10px;
    margin-left: 4px;
  }
}
