.input {
  display: flex;
  flex-direction: column;
  width: 388px;
  height: 50px;
  border-radius: 15px;
  background: #f3f3f3;
  padding-left: 13px;
  font-size: 13px;
  box-sizing: border-box;
  margin-bottom: 37px;
  font-family: "League Spartan";

  &::placeholder {
    font-weight: 700;
    color: #cc9696;
  }
}

.label {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
}
