$loader-background: #eaf1fe;

.loader {
  z-index: 99;
  font-family: "League Spartan";

  &_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: $loader-background;
    z-index: 7;
    animation: splitBackgroundLeft 3s forwards;
    animation-delay: 2s;
  }

  &_right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: $loader-background;
    z-index: 7;
    animation: splitBackgroundRight 3s forwards;
    animation-delay: 2s;
  }

  &_container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 400px;
    left: 50%;
    z-index: 7;
    transition: 2s;
    animation: fadeOut 2s forwards;

    &-hide {
      opacity: 0;
    }
  }

  &_title {
    font-weight: 800;
    font-size: 72px;
    line-height: 65px;
    text-align: center;
    margin-bottom: 20px;
  }

  &_pretitle {
    font-weight: 800;
    font-size: 24px;
    line-height: 65px;
    text-align: center;
  }

  &_grapes {
    position: absolute;
    bottom: -190px;
    left: -210px;
  }

  &_burger {
    position: absolute;
    bottom: 138px;
    right: -100px;
  }

  &_apple {
    position: absolute;
    width: 71px;
    top: -110px;
    right: 75px;
  }

  &_fire {
    position: absolute;
    bottom: 235px;
    right: 48px;
  }

  &_orange {
    position: absolute;
    width: 42px;
    bottom: 167px;
    right: 37px;
  }

  &_cheese {
    position: absolute;
    bottom: 110px;
    right: -95px;
  }
}

@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes splitBackgroundLeft {
  0% {
    transform: translateX(0%);
    visibility: visible;
  }
  100% {
    transform: translateX(-100%);
    visibility: hidden;
  }
}

@keyframes splitBackgroundRight {
  0% {
    transform: translateX(0%);
    visibility: visible;
  }
  100% {
    transform: translateX(100%);
    visibility: hidden;
  }
}

@media screen and (max-width: 1200px) {
  .loader {
    &_container {
      top: 350px;
    }
    &_title {
      font-size: 64px;
      line-height: 30px;
      margin-bottom: 10px;
    }

    &_pretitle {
      font-size: 24px;
      line-height: 60px;
    }
  }
}

@media screen and (max-width: 1090px) {
  .loader {
    &_title {
      font-size: 58px;
      margin-bottom: 10px;
    }

    &_container {
      top: 100px;
    }

    &_pretitle {
      font-size: 22px;
      line-height: 60px;
    }

    &_grapes {
      bottom: -172px;
      left: -187px;
      transform: scale(0.8);
    }

    &_burger {
      bottom: 91px;
      right: -74px;
      transform: scale(0.8);
    }

    &_apple {
      top: -92px;
      right: 68px;
      transform: scale(0.8);
    }

    &_fire {
      bottom: 174px;
      right: 59px;
      transform: scale(0.8);
    }

    &_orange {
      bottom: 114px;
      right: 47px;
      transform: scale(0.8);
    }

    &_cheese {
      bottom: 90px;
      right: -75px;
      transform: scale(0.8);
    }
  }
}

@media screen and (max-width: 800px) {
  .loader {
    &_container {
      top: 200px;
    }

    &_title {
      font-size: 46px;
      margin-bottom: 0px;
    }

    &_pretitle {
      font-size: 18px;
      line-height: 48px;
    }

    &_grapes {
      bottom: -172px;
      left: -187px;
      transform: scale(0.7);
    }

    &_burger {
      bottom: 68px;
      right: -65px;
      transform: scale(0.7);
    }

    &_apple {
      top: -92px;
      right: 68px;
      transform: scale(0.7);
    }

    &_fire {
      bottom: 154px;
      right: 59px;
      transform: scale(0.7);
    }

    &_orange {
      bottom: 91px;
      right: 47px;
      transform: scale(0.7);
    }

    &_cheese {
      bottom: 75px;
      right: -57px;
      transform: scale(0.7);
    }
  }
}
