.main_section {
  width: 1200px;
  max-height: 800px;
  background: #ffffff;
}

.content {
  display: grid;
  grid-template-columns: 800px 1fr;
  align-items: center;
}

@media screen and (max-width: 1440px) {
  .main_section {
    max-width: 920px;
    max-height: 800px;
    background: #ffffff;
  }

  .content {
    grid-template-columns: 680px 1fr;
  }
}
