.menu {
  &__list {
    text-decoration: none;
  }

  &__link {
    background: transparent;
    background: #ff5454;
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: 184px;
    height: 44px;
    margin-bottom: 20px;

    &-active {
      margin: 0;
    }
  }

  &__title {
    color: #fff;
    margin-left: 20px;
  }

  &-icon {
    height: 100%;
    height: 44px;
    width: 44px;
    background: #fff;
    border-radius: 15px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
