.menu {
  margin: 60px 35px 0;

  &__list {
    text-decoration: none;
  }

  &__link {
    background: transparent;
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: 184px;
    height: 44px;
    margin-bottom: 40px;
    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    &-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 44px;
      width: 44px;
      background: #fff;
      border-radius: 15px;
    }

    &-active {
      background: #ff5454;

      .menu__link_text {
        color: #fff;
      }

      .menu__link-icon {
        background: #df4545;
        stroke: #fff;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .menu {
    margin: 40px 30px 0;

    &__link {
      width: 155px;
      height: 44px;
      margin-bottom: 33px;

      &-icon {
        height: 44px;
        width: 44px;
        border-radius: 15px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .menu {
    margin: 30px 20px 0;

    &__link {
      width: 140px;
      height: 40px;
      margin-bottom: 26px;

      &-icon {
        height: 40px;
        width: 40px;
        border-radius: 13px;
      }
    }
  }
}

@media screen and (max-width: 1090px) {
  .menu {
    margin: 30px 17px 0;

    &__link {
      width: 130px;
      height: 36px;
      margin-bottom: 22px;
      border-radius: 11px;

      &_text {
        margin-left: 15px;
        font-size: 14px;
      }
 

      &-icon {
        height: 35px;
        width: 35px;
        border-radius: 11px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .menu {
    margin: 20px 14px 0;

    &__link {
      width: 100px;
      height: 28px;
      margin-bottom: 18px;
      border-radius: 8px;

      &_text {
        margin-left: 12px;
        font-size: 13px;
      }
 

      &-icon {
        height: 28px;
        width: 28px;
        border-radius: 8px;
      }
    }
  }
}
