.user_profile {
  margin-top: 100px;
  margin-left: 100px;

}

.user_name {
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  margin-top: 13px;
}
